---
# masters handlers
- name: reboot
  command: /sbin/shutdown -r +1
  async: 0
  poll: 0
  ignore_errors: true
- name: restart machine
  shell: sleep 2 && shutdown -r now "Ansible updates triggered"
  async: 1
  poll: 0
  ignore_errors: true
- name: waiting for server to come back
  local_action: wait_for host={{ inventory_hostname }} state=started delay=60 timeout=180

